@font-face {
  font-family: SFNS Regular;
  src: url("../fonts/SFNS/SBSansDisplay-Regular.ttf");
}
@font-face {
  font-family: SFNS Light;
  src: url("../fonts/SFNS/SBSansDisplay-Light.ttf");
}
@font-face {
  font-family: SFNS Thin;
  src: url("../fonts/SFNS/SBSansDisplay-Thin.ttf");
}
@font-face {
  font-family: SFNS SemiBold;
  src: url("../fonts/SFNS/SBSansDisplay-SemiBold.ttf");
}
@font-face {
  font-family: SFNS Bold;
  src: url("../fonts/SFNS/SBSansDisplay-Bold.ttf");
  //font-weight: bold;
}
@font-face {
  font-family: SFSerifDisplay Regular;
  src: url("../fonts/SFNS/SBSerifDisplay-Regular.otf");
}
@font-face {
  font-family: SFSerifDisplay Bold;
  src: url("../fonts/SFNS/SBSerifDisplay-Bold.otf");
}
@font-face {
  font-family: SBSansUI Regular;
  src: url("../fonts/SFNS/SBSansUI-Regular.ttf");
}
@font-face {
  font-family: Roboto Bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  //font-weight: 500;
}
@font-face {
  font-family: Roboto Medium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
