$green: #189a48;
$green_light: #95c83e;
$yellow: #f6eb0c;
$red: #F76B5D;
$blue: #0086c8;
$blue_light: #35b2d3;
$blue_dark: #201f3a;
$grey: #605e5c;
$white: #fff;
$white_dark1: #fafafc;
$white_dark2: #eeeef1;
